.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f9f8f3;
  display: flex;
  flex-direction: column;
  border-radius: 3.2rem;
}

.app header {
  box-sizing: border-box;
  height: 15vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.0799999982);
}

.app header .description {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.app section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 8rem;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

section::-webkit-scrollbar {
  display: none;
}

.app section .message {
  margin-right: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.app section .message .image img {
  width: 2.4rem;
  height: auto;
  margin: 0 0.5rem;
  /* position: absolute;
  left: -2.8rem;
  top: 0; */
  z-index: 5;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 99.9rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.0799999982);
}

.app section .received .description {
  box-sizing: border-box;
  padding: 0.8rem 0.9rem 0.9rem 0.8rem;
  max-width: 70vw;
  width: auto;
  height: auto;
  z-index: 5;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  flex-shrink: 0;
}

.app section .recieve {
  align-items: flex-start;
  flex-shrink: 0;
  width: calc(100% - 4rem);
}

.app section .sent {
  flex-direction: row-reverse;

  .image {
    margin-top: 1rem;
  }
}

.app section .sent .description {
  box-sizing: border-box;
  padding: 0.8rem 0.7rem 0.9rem 0.8rem;
  max-width: 20.7rem;
  width: auto;
  height: auto;
  background-color: #1c63d5;
  border-radius: 1.2rem 1.2rem 0 1.2rem;
}

.app section .chatform {
  width: 100vw;
  height: 5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #f9f8f3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.0799999982);
}

.app section .chatform form {
  width: 90%;
  height: 70%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.0799999982);
}

.app section .chatform form input {
  border: none;
  outline: none;
  height: inherit;
  padding: 0.4rem 1rem;
  flex-grow: 1;
  font-size: inherit;
  font-style: inherit;
  border-radius: 0.5rem;
}

.app section .chatform form .formbutton {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  margin-right: 1rem;
}

.app section .chatform form .formbutton button {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app section .chatform form .formbutton button:active {
  border: none;
  background-color: #ffffff;
}